{% extends "voc2.j2" %}

{% block summary %}
<p>
    <em>
        Dit implementatiemodel is een implementatiemodel van het <a href="https://belgif.github.io/thematic/models/public%20services/index_en.html">ICEG applicatieprofiel public service</a>
        en volgt het <a href="https://data.vlaanderen.be/ns/dienst">OSLO Vocabularium 'Dienst'</a>.
        Veel zaken worden overgenomen vanuit het ICEG model en zijn daarom enkel in het Engels beschreven. Specifieke uitbreidingen binnen dit datamodel worden wel in het Nederlands beschreven.
    </em>
</p>

<p>
    Dit implementatiemodel wordt gebruikt om data rond publieke dienstverlening uit te wisselen tussen IPDC (versie 3) en LPDC.
    Er wordt beschreven hoe er gecommuniceerd kan worden vanuit en naar de lokale producten- en dienstencatalogus (LPDC) en de interbestuurlijke producten- en dienstencatalogus (IPDC).
</p>
{% endblock %}

