{% extends "impl.j2" %}

{% block summary %}
<p>
    <em>
        Dit implementatiemodel is een implementatiemodel van het <a href="https://belgif.github.io/thematic/models/public%20services/index_en.html">ICEG applicatieprofiel public service</a>
        en volgt het <a href="https://data.vlaanderen.be/ns/dienst">OSLO Vocabularium 'Dienst'</a>.
        Veel zaken worden overgenomen vanuit het ICEG model en zijn daarom enkel in het Engels beschreven. Specifieke uitbreidingen binnen dit datamodel worden wel in het Nederlands beschreven.
    </em>
</p>

<p>
    Dit implementatiemodel wordt gebruikt om data rond publieke dienstverlening uit te wisselen tussen IPDC (versie 3) en LPDC.
    Er wordt beschreven hoe er gecommuniceerd kan worden vanuit en naar de lokale producten- en dienstencatalogus (LPDC) en de interbestuurlijke producten- en dienstencatalogus (IPDC).
</p>

<h3>Meer info</h3>
<p>
    Een volledig overzicht van alle beschikbare concepten en instanties is terug te vinden in <a href="https://productencatalogus-v3.vlaanderen.be">de productencatalogus</a>.
    Achter de schermen wordt al deze dienstverlening bewaart in <a href="https://www.vlaanderen.be/digitaal-vlaanderen/onze-oplossingen/interbestuurlijke-producten-en-dienstencatalogus-ipdc">IPDC</a>.
    Wens je de informatie over deze dienstverlening te integreren in je eigen oplossingen dan is dit mogelijk via de
    <a href="https://ipdc.vlaanderen.be/docs/swagger-ui/index.html">IPDC API</a>. Neem hiervoor ook zeker een kijkje in
    <a href="https://vlaamseoverheid.atlassian.net/wiki/external/6317081715/ZGU4MGNlODM2N2U1NDU5MGFlY2NlYzcxYmQyYWUwMTc">de aansluitersgids</a>.
</p>
{% endblock %}
